/* ==================
        reset
  =================== */

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

* {
    box-sizing: border-box;
}

/* ==================
        card
  =================== */

body {
    background-color: hsl(219, 100%, 94%);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.qr-code {
    border-radius: .75rem;
    grid-column: 2;
}

.card {
    width: 320px;
    background-color: white;
    border-radius: 1rem;
    padding: 1em 1em 2em 1em;
    text-align: center;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0 0.5em;
    margin: 0.75em 0;
}

.card-body {
    color: hsl(220, 15%, 55%);
    padding: 0 0.5em; 
    margin: 0.75em 0;
}


.attribution { 
    position: absolute;
    left: 50%;
    margin-left: -130px;
    font-size: 11px; 
    text-align: center; 
    margin-top: 3em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}